.messageArea{
    padding: 0;
    position: relative;
    right: 0;
    left: 0;
    /* height: 88vh; */
    box-sizing: border-box;
    overflow-y: scroll;    
    /* block-size: auto; */
}   

.messages{
    margin: 0;
    margin-bottom: 4vh;
    list-style: none;
    word-wrap: break-word;
    font-size: 150%;
}

.log {
    color: #988f81;
    font-size: 70%;
    margin: 5px;
    text-align: center;
  }

.username{
    color: rgb(150, 150, 150);
    font-weight: 500;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

.username.currentUser{
    color: #6cc92e;
}


.message{
    color: white;
    font-weight: 300;
}

.inputForm{
    position: fixed;
    box-sizing: border-box;
    padding: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 12vh;
    box-sizing: border-box;
    /* block-size: auto; */

    padding: 1vh 2vw;
    
    background-color: #8c8273;
}

.inputForm form{
    width: 100%;
    height: 100%;
}

.inputWrapper{
    height: 100%;
    display: inline-flex;
    position: relative;
    box-sizing: border-box;

    vertical-align: top;
    text-align: center;
    align-items: center;
    cursor: text;

    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    
    font-weight: 400;    
}

.inputWrapper input{
    outline: none;
    display: block;
    box-sizing: border-box;

    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 120%;

    padding: 3vh 2vw;
    
    background-color: #181a1b;
    color: #e8e6e3;
}

.inputWrapper input:focus{
    outline: none;
}

.submitButton{
    height: 100%;
    min-width: 5vw;

    border: 1px solid rgb(53, 53, 53);
    background-color: inherit;
    color:  rgb(77, 76, 76);
    transition: all .3s ease-in-out;
    outline: none;
}
.submitButton:hover{
    background-color: rgb(77, 76, 76);
    color: white;
}

@media screen and (max-width: 780px){
    .submitButton{
        min-width: 10vw;
    }
}